In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({'A': [1, 1, 2], 'B': ['a', 'b', 'a'], 'value1': [10, 20, 30]})
df2 = pd.DataFrame({'A': [1, 2, 2], 'B': ['a', 'c', 'a'], 'value2': [40, 50, 60]})

In [4]:
df1

   A  B  value1
0  1  a      10
1  1  b      20
2  2  a      30

In [5]:
df2

   A  B  value2
0  1  a      40
1  2  c      50
2  2  a      60

In [7]:
merged_df = pd.merge(df1, df2, on=['A', 'B'], how='outer')
merged_df

   A  B  value1  value2
0  1  a    10.0    40.0
1  1  b    20.0     NaN
2  2  a    30.0    60.0
3  2  c     NaN    50.0